div{
    color: red;
}

#special{
    color: green;
}

.one{
    color: blue;
}


.info{
    color: crimson;
    background-color: bisque;
    font-weight: bold;
}
.info:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(204, 9, 9);
    font-weight: bolder;
}