p::first-letter{
    font-size: 30px;
    color: red;
}

p::first-line{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
}

div::first-letter{
    color: blue;
    font-size: 40px;
}
/* kaam nahi karega as it will not work on inline elements */
span::first-letter{
    color: red;
}
/* adding content before and after any element */
a[href="https://google.com"]::after{
    content: "\1F4DE";
    /* ye hai unicode we use unicodes to add symbols in css like we use 
    escape characters in html */
}
a[href="https://google.com"]::before{
    content: "\1F4DE";
    font-size: 20px;
}


/* how to remove underline from any anchor tag e.g. hyperlink */
a{
    text-decoration: none;
}